@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
	height: 100vh;
	width: 100vw;
	font-family: "Poppins", sans-serif;
	overflow-x: hidden;
}

main{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	background-color: #eee;
	height: 100%;
	width: 100%;
}

#login-container{
	background-color: #f3f3f3;
	width: 500px;
	height: 50vh;
	padding: 2rem;
	box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.2);
	border-radius: 8px;
}

#login-container .login-title{
	font-size: 22px;
	font-weight: 700;
	margin-bottom: 1rem;
}

#form-login{
	display: flex;
	flex-direction: column;
	gap: 1rem;
}

#form-login input{
	padding: .8rem;
	font-size: 18px;
	border: 1px solid;
	outline: none;
	border-radius: 5px;
}

#form-login input:focus{
	border-color: #214AF3;
}

#form-login button{
	margin: 0 auto;
	width: 80px;
	padding: .8rem;
	border-radius: 5px;
	border: 1px solid;
	outline: none;
	cursor: pointer;
	transition: .5s
}

#form-login button:hover{
	background-color: #A1A3A0;
	color: #fff;
}

/* Animação entrar na página de Login*/
#login-container{
    -webkit-animation-name: fadeInDown;
    animation-name: fadeInDown;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

@-webkit-keyframes fadeInDown {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(0, -100%, 0);
        transform: translate3d(0, -100%, 0);
    }
    100% {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}

@keyframes fadeInDown {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(0, -100%, 0);
        transform: translate3d(0, -100%, 0);
    }
    100% {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}

/* Animações dos inputs ao entrar na página */

@-webkit-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@-moz-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@keyframes fadeIn { from { opacity:0; } to { opacity:1; } }

.input-field{
    opacity:0;
    -webkit-animation:fadeIn ease-in 1;
    -moz-animation:fadeIn ease-in 1;
    animation:fadeIn ease-in 1;

    -webkit-animation-fill-mode:forwards;
    -moz-animation-fill-mode:forwards;
    animation-fill-mode:forwards;

    -webkit-animation-duration:1s;
    -moz-animation-duration:1s;
    animation-duration:1s;
}

.input-field.first{
    -webkit-animation-delay: 0.4s;
    -moz-animation-delay: 0.4s;
    animation-delay: 0.4s;
}

.second {
    -webkit-animation-delay: 0.6s;
    -moz-animation-delay: 0.6s;
    animation-delay: 0.6s;
}

.third{
    -webkit-animation-delay: 0.8s;
    -moz-animation-delay: 0.8s;
    animation-delay: 0.8s;
}

.fourth{
    -webkit-animation-delay: 1s;
    -moz-animation-delay: 1s;
    animation-delay: 1s;
}